h1 {
    color: #DB5ABA; 
    text-align: center; 
    font-size: 5.5em;
    font-weight: 100;
    font-family: snell Roundhand, cursive;
    margin-top:-2px;
    margin-bottom: 10px
}
p {
    color:#403326;
    font-size: 1em;
    font-weight: 100;
    font-family: 'Inter', 'Roboto', sans-serif;
    text-indent: 40px;
    border: 2px dotted #C1D7AE;
    border-radius: 10px;
    width: 75%;
}
body {
    background-color: rgb(246, 240, 232);
    padding-bottom: 100px;
}
#homeimage img {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}
#adoringangel img {
    display:flex;
    justify-content:last baseline;
    margin-top: 20px;
    width: 25%;
}
#peonyflask img {
    display:flex;
    justify-content:last baseline;
    margin-top: 20px;
    width: 25%;
}
#incenseburnerwithfelinehead img {
    display:flex;
    justify-content:last baseline;
    margin-top: 20px;
    width: 25%;
}
#homeimage2 img {
    display:flex;
    justify-content:last baseline;
    margin-top: 20px;
    width: 25%;   
}
#topnav {
  display: flex;
  gap: 200px;
  padding: 15px;
  justify-content: center;
  list-style: none;
  font-size: 1em;
  font-family: 'Inter', 'Roboto', sans-serif;
}
#topnav a {
    text-decoration: none;
    color: #403326;
}
#topnav a:hover {
    color: #A2AD59;
}
.textlink {
    color: #403326;
    text-decoration: none;
}
.textlink:hover {
    color: #A2AD59;
}
a:hover {
    color: #A2AD59;
}
a:visited {
    color: #08B2E3;
}
@media (max-width: 768px) {
    #homeimage a {
        width: 80%;
    }
    #topnav {
            gap: 30px;
    }
}
th {
    font-size: 1.4em;
    font-family: 'Inter', 'Roboto', sans-serif;
    font-weight: bold;
}
footer {
    position: fixed;
    text-align: center;
    left: 0;
    bottom: 0;
    padding-bottom: 10px;
    width: 100%;
    font-size: .8em;
    color:#403326;
    font-family: 'Inter', 'Roboto', sans-serif;
    background-color:  rgb(246, 240, 232);
}
h2 {
    color:#403326;
    font-family: 'Inter', 'Roboto', sans-serif;
    text-align: justify-left;
    font-size: 1.4em;
}
li {
    color:#403326;
    font-size: 1em;
    font-weight: 100;
    font-family: 'Inter', 'Roboto', sans-serif;
    text-indent: 40px;
}
ul li {
    text-indent: 0;
}
ul ul {
    padding-left: 20px;
}
table {
    border-collapse: collapse;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    border: 2px dotted #C1D7AE;
    border-radius: 10px;
}
td {
    border: 1px solid #403326;
    padding: 8px;
    font-size: 1em;
    font-weight: 100;
    font-family: 'Inter', 'Roboto', sans-serif;
}
